html{
    font-size: 12px;
    font-family: 'Roboto', monospace;
    overflow-x:hidden;
}

body{
    padding:0;
    margin:0;
    background-color:#888;
}

#play-area{
    position:relative;
    width:1000px;
    height:550px;
    background-color: #ddd;
    margin:auto;
    padding: 24px;
}

i{
    position: absolute;
    right: 24px;
    padding: 24px;
    top: 12px;
    border: solid;
    border-radius: 1em;
    cursor:pointer;
}

#highscores{
    position:absolute;
    right: 0;
    width:50%;
    font-size: 1.75em;
    min-height:100%;
    top:6em;
    padding:24px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 5;
    transition: all 300ms ease-in-out;
}

#highscores-back{
    position:fixed;
    width: 100%;
    height: 2000px;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.4);
    z-index:4;
    transition: background-color 300ms ease-in-out;
}

#highscores-back.hidden{
    width:0;
    height:0;
    background-color: rgba(0,0,0,0);
}

#highscores.hidden{
    right:-50%;
}

#score-display{
    position:fixed;
    color:yellow;
    font-size: 3em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 1px 1px 0 #000;
    opacity:0;
    z-index:4;
    transform:scale(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

#score-display.visible{
    opacity:1;
    transform:scale(1);
}

.hidden{
    opacity:0;
    position:absolute;
    top:-100000px;
}

.new{
    font-weight: 1000;
    font-size:2em;
}

#sign-in-parent{
    display:flex; 
    flex-direction:column; 
    justify-content: center;
    background-color: rgba(0,0,0,.7);
}

#sign-in{
    width: 70%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 50px;
    background-color: white;
    display: flex;
    height: 250px;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-size: 3em;
}

.button{
    background-color: #005eb5;
    color:white;
    border-radius: 4px;
    border:none;
    float:right;
    text-transform: uppercase;
    cursor:pointer;
}

.button-hover{
    background-color:#3174b3;
}

.square{
    width: 52px;
    height: 52px;
    margin: -1px;
    position: absolute;
    transform:scale(1);
    z-index: 0;

    display:flex;
    justify-content: center;
    align-items: center;

    color: #555;
    font-size:2em;

    opacity: 1;
    cursor:pointer;

    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:2px;
}

.one{
    background-color: white;
}

.two{
    background-color:rgb(245,150,245);
}

.three{
    background-color: rgb(255,255,129);
}


.hover{
    position:absolute;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    border-radius:0;
    width:64px;
    height:64px;

    margin: -8px;
    z-index:2;
}

.cleared{
    opacity:0;
    cursor:default;
}

.transition{
    transition:all 300ms ease-in-out;
}

#play-container{
    position:absolute;
}

.hidden-point{
    position: absolute;
    background-color: #666;
    color: #333;
    border: solid 1px #333;
    padding: 12px;
    border-radius: 4px;
    z-index: -4;
    font-size: 3em;
}


.uncovered{
    background-color:rgb(75, 179, 75);
    color:black;
}

.app-bar{
    background-color:#005eb5;
    color:white;
    font-size:300%;
    padding: 1em;
    padding-left:3em;
    z-index:4;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0x rgba(0,0,0,.12)
}

.header{
    color:#333;
    font-size:1.5em;
    margin:1em 0;
}

input{
    width:100%;
    margin-bottom:1em;
    padding: .5em;
    font-size:1em;
}

.content{
    display:flex;
}

